<div class="row title-div">
		<div class="col-md-3">
			Assignment
		</div>
		<div class="col-md-3">
			High Score
		</div>
		<div class="col-md-3">
			Unscored Submissions
		</div>
		<div class="col-md-3">
			Actions
		</div>
	</div>
</div>
<% results.each do |hw| %>
	<% next if (hw.user_id != current_user.id) %>
	<%= render :partial => 'teacher/homework/homework_container', :locals => { :hw => hw } %>
<% end %>

