<h1><%= @homework.title %></h1>
<p>Q:</p>
<p><%= @homework.content %></p>

<p>A:</p>
<p><%= @submission.content %></p>

<div class="score-box">
	<div class='score'>
		<b>score:</b>
		<%= @submission.score %>
	</div class='score'>
</div>