// Place all the styles related to the teacher/homework controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
%hw_module {
    color: black;
    padding: 2%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fdffeb;
}

.sub_container {
	width: 99%;
}