// Place all the styles related to the student/homework controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
%hw_module {
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fdffeb;
}

.hw_container {
	@extend %hw_module;

}

.overdue_hw {
	@extend %hw_module;
}

.submission_box {
	display: none;
}

.submission_container {
	background-color: transparent;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 2px;
    // box-shadow: 3px 4px 3px #888888;
}

.submission_container:hover {
    font-size:20px;
    font-weight: bold;
    box-shadow: 6px 7px 6px #888888;

} 


.title-div {
    font-weight: bold;
    background-color: transparent;
    padding: 3px;
    border-bottom-style: solid;
    margin-bottom: 2px;
}