<h1><%= @homework.title %></h1>
<p>
	Assigned to: <%= @homework_assignment.user.username %>
</p>
<p>
	<%= @homework.content %>
</p>



<h3>Submissions</h3>

<div class="submission_container">
	<%= render :partial => '/teacher/homework/submission_container', :locals => { :results => @homework_assignment.submissions } %>
</div>