/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 %report_module {
    color: white;
    padding: 2%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    display: none;
}

%list_module {
    padding: 2px;
    margin-bottom: 1px;
    font-size: 12px;
}

#error_report {
  @extend %report_module;
  background-color: red;
}

#status {
    @extend %report_module;
    background-color: #aeffae;
    color: black;
}

.radio-grp {
    margin-left: 20%;
}

.student_item {
    @extend %list_module;
    background-color: #f7ffe7;
    padding-left: 10px;
}

.nav-style {
    margin-right: 10px;
}

.logout-button {
    float: right;
}

.submission_box {
    background-color: transparent;
    padding: 5px;
}

.other_box {
    background-color: #f7f7ff;
    width: 85%;
    float: center;
    margin: 0 auto;
}

%module_display {
    background-color: #feffcc;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 3px;


}

.hw_content {
    @extend %module_display;
    font-size: 15px;
    width: 80%;
}

.hw_header {
    @extend %module_display;
    width: 25%;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;

}

.score-box {
    @extend %report_module;
    display: block;
    color: black;
    width: 80%;
}

.score {
    @extend %module_display;
    width: 50%;
    font-size: 40px;
}

.feedback{
    @extend %module_display;
    background-color: #ffc5c5;
    width: 50%;
    font-size: 40px;
}
